body {
    color: #5c5e64;
    font-size: 10pt;
    background-color: #f3f3f3;
}

.container {
    max-width: 1240px;
}

.list-group {
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.10);
    margin: 0px;
    margin-top: 10px;
}

.msg-user-list {
    overflow: scroll;
    height: 625px;
}

.list-group-footer{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px ;
}

.list-group-footer-content{
    color: white;
    font-size: 12pt;
}

.contact-user-list {
    padding: 0px;
    overflow: scroll;
    height: 625px;
}

.list-group-item {
    border-color: #e7e7e7;
    border-width: 1px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.list-group-header {
    border-color: #e7e7e7;
    border-width: 1px 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    font-size: 12pt;

}

.list-group-header-content{
    padding: 0px 5px;
}


.search-group-item {
    background-color: #2c2f39;
    padding: 10px;
    border-width: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    margin-top: 10px;
}

.grid-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #14171f;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-header-search{
    min-width: 240px;
    max-width: 360px;
}

.grid-header-counter{
    font-size: 11pt;
    color: #d1d1d1;
    align-self: center;
}

.grid-header-btn-group{
    width: 360px;
    align-self: center;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.btn.grid-header-btn-group-btn{
    flex: 1;
    color: #878787;
    background-color: #14171f;
    align-self: center;
    height: 50px;
}
.grid-header-btn-group-btn:focus,
.grid-header-btn-group-btn:active,
.grid-header-btn-group-btn:hover{
    color: white;
}

.grid-header-btn-group-btn:first-child{
    border: 0px solid #2c2f39;
    border-right-width: 1px;
    border-radius: 0px;
}

.input-group-text.search{
    border-radius: 5px;
}

.grid-group-item:last-child,
.grid-group-item:first-child {
    border-width-left: 0px;
    border-width-right: 0px;
}


.grid-row:last-child > .grid-group-item {
    border-bottom-width: 0px;
}

.grid-row:last-child > .grid-group-item:last-child {
    border-radius: 0px 0px 10px 0px;

}

.grid-row:last-child > .grid-group-item:first-child {
    border-radius: 0px 0px 0px 10px;
}

.grid-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #14171f;
    border-right-width: 0px;
    border-top-width: 0px;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-group-item:first-child {
    font-weight: 500;
    border-radius: 10px 10px 0px 0px;
}

.list-group-item:last-child {
    border-radius: 0px 0px 10px 10px;
}

.list-group-item.element:hover {
    background-color: #e7e7e7;
}

.element-picture {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px;
    height: 50px;
    width: 50px;
}

.element-text {
    margin: auto;
    flex-direction: column;
    margin-left: 15px;
}

.element-text-title {
    font-size: 11pt;
    color: #578cac;
    padding: 0px;
    margin-bottom: 0;
    vertical-align: top;
}

.element-text-info {
    color: #5c5e64;
    font-size: 8pt;
    padding: 0px;
    margin-bottom: 0;
    vertical-align: center;
}

.element-text-position {
    font-size: 8pt;
    color: #578cac;
    padding: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

.user {
    color: white;
}

.img-rounded {
    border-radius: 5px;
}

.header-picture {
    float: right;
}

a {
    color: #5c5e64;
}

a:hover {
    color: #5c5e64;
    text-decoration: none;
}

.info-field-name {
    color: #5c5e64;
    vertical-align: top;
    margin-left: 20px;
    min-width: 70px;
}

.info-field-value {
    color: #5c5e64;
    max-width: 250px;
    margin-left: 10px;
}

.info-field {
    justify-content: start;
    font-size: 11pt;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.info-field-list {
    justify-content: start;
    font-size: 11pt;
    border: 0px;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
}

.list-group-item.information:first-child {
    margin-bottom: 20px;
}

.list-group-item.information:last-child {
    margin-top: 20px;
}

.url {
    color: #578cac;
}

.url.dark {
    font-size: 12pt;
}

.follow {
    padding-top: 10px;
    float: right;
    font-size: 15pt;
    color: #14171f;
}

.follow > .icon-plus {
    font-size: 12pt;
}

.card.header {
    margin-top: 10px;
    margin-bottom: 0px;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.10);
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 125px;
    object-fit: cover;
}

.header-content {
    margin-left: 151px;
}

.header-text-title {
    color: #14171f;
    font-size: 12.5pt;
    font-weight: 500;
    margin: 0px;
    max-width: 150px;
}

p.header-text-status {
    color: #999999;
    font-size: 9.375pt;
    padding: 0px;
    margin-bottom: 10px;
}

.header-content-specs {
    color: #14171f;
    font-size: 10pt;
}

.spec-text {
    color: #578cac;
}

.spec-icon {
    font-size: 8pt;
    color: #578cac;
}

.avatar {
    border: white 4px solid;
    position: absolute;
    top: 110px;
    left: 15px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    padding: 5px 10px;
    padding-bottom: 15px;
}

#btn-write,
#btn-follow {
    font-size: 11pt;
    color: white;
    border-radius: 10px;
    flex: 1;
}

#btn-write {
    margin-right: 13px;
    margin-left: 0px;
    background-color: #578cac;
}

#btn-follow {
    background-color: #14171f;
}

.btn-group {
    display: flex;
    border-radius: 10px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.10);
}

.btn-group.noshadow {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.btn-group-element {
    border-color: #e7e7e7;
    border-width: 0px 1px 0px 1px;
    padding: 5px;
    background-color: white;
}

.btn.btn-group-element {
    flex: 1;
}

.btn-group-element:first-child {
    border-radius: 10px;
    border-width: 0px 1px 0px 0px;
}

.btn-group-element:last-child {
    border-radius: 10px;
    border-width: 0px 0px 0px 1px;
}

.btn-group-element:hover {
    background-color: #578cac;
    color: white;
}

.btn-group-element-count {
    font-weight: 500;
    margin-bottom: 0px;
}

.btn-group-element-name {
    font-size: 10pt;
    margin-bottom: 0px;
}

.star {
    height: 8pt;
    fill: #578cac;
}

.function {
    float: right;
    vertical-align: center;
    padding-top: 5px;
    font-size: 20px;
    color: #d1d1d1;
}

.accept {
    height: 8pt;
}

.chat-form {
    background-color: white;
    color: #14171f;
    margin-top: 10px;
    margin-bottom: 0px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.10);
}

.chat-header {
    padding: 10px 10px 5px 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
}

.chat-header-btns {
    float: right;
    font-size: 16pt;
    margin-top: 10px;
    margin-right: 10px;
}

.chat-header-btn {
    margin: 5px;
    color: #979797;
}

.chat-header-btn:hover {
    color: white;
}

.chat-list {
    margin: 0px 10px;
    background-color: white;
    overflow: scroll;
    height: 500px;
}
.contact-user-list::-webkit-scrollbar,
.chat-preview::-webkit-scrollbar,
.msg-user-list::-webkit-scrollbar,
.chat-list::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.post-form {
    color: #14171f;
    margin-top: 10px;
    margin-bottom: 0px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.10);
}

.form-control.msg-form-text {
    position: relative;
    left: 5%;
    width: 90%;
    border-color: #e7e7e7;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    resize: none;
}

.form-control.post-form-text {
    border-color: #e7e7e7;
    border-width: 0px 0px 1px 0px;
    border-radius: 10px 10px 0px 0px;
    resize: none;
}

.post-form-text:focus {
    border-color: #e7e7e7;
    color: #14171f;
    box-shadow: 0 0 0px #e7e7e7;
}

.post-form-group {

    background-color: white;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}

.post-form-container {
    margin: 3px;
}

.msg-form-container {
    color: #999999;
    font-size: 17pt;
    margin: 10px;
}

.msg-form-container:hover {
    color: #578cac;
}

.post-form-container:hover {
    text-decoration: none;
}

.post-form-icon {
    width: 13pt;
}

.post-form-send {
    float: right;
    overflow: auto;
    background-color: #578cac;
    color: white;
    width: 80px;
    height: 25px;
    font-size: 9pt;
    padding: 0;
    border-radius: 5px;
    vertical-align: top;
    margin-bottom: 10px;
}

.msg-form-send {
    float: right;
    overflow: auto;
    background-color: #578cac;
    color: white;
    width: 98px;
    height: 30px;
    font-size: 9pt;
    padding: 0;
    border-radius: 5px;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post-form-more {
    font-size: 10pt;
}

.post {
    padding: 0px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.10);
    background-color: white;
}

.post-avatar {
    height: 30px;
    display: inline-block;
    border-radius: 2px;
}

.post-header {
    padding: 10px 10px 5px 10px;
}

.post-header-username {
    font-weight: 500;
}

.post-header-date {
    float: right;
    color: #5c5e64;
    font-size: 10pt;
}

.post-body-picture {
    width: auto;
}

.post-header-date {
    font-size: 10pt;
    float: right;
}

.post-body-text {
    margin: 0px 10px;
    margin-bottom: 5px;
}

.post-footer {
    padding: 10px;
}

.post-footer-icon {
    width: 13pt;
    margin: 0px 0px 3px 10px;
}

.post-footer-counter {
    font-size: 10pt;
}

.post-footer-vote {
    float: right;
}

.dark {
    background-color: #14171f;
    color: white;
    border-color: rgba(0, 0, 0, 0.3);
}

.element.dark {
    color: white;
    background-color: #2c2f39;
}

.element.dark.current {
    background-color: #14171f;
}

.element.dark:hover {
    background-color: #14171f;
}

.element.dark:hover > .follow {
    color: white;
}

.dark.new {
    background-color: #1c202d;
}

.badge {
    align-self: center;
    padding: 5px 10px;
    font-weight: 300;
    float: right;
    display: inline-block;
    border-radius: 10px;
    background-color: #14171f;
    color: white;
}

.element-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.element-msg-title {

    font-weight: 500;
    font-size: 11pt;
    margin-bottom: 0px;
}

.element-msg-body {
    font-size: 9pt;
    font-weight: 300;
    color: #c9c9c9;
    width: 180px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.msg-avatar {
    vertical-align: top;
    height: 37px;
    display: inline-block;
    border-radius: 2px;
}

.msg-img-group {
    margin: 5px 10px;
}

.msg-img-2 {
    padding: 2px;
    display: inline-block;
    object-fit: cover;
    max-width: 180px;
}

.msg-img {
    padding: 2px;
    display: inline-block;
    object-fit: cover;
    max-width: 362px;
}

.msg-body-text {
    margin: 0px 13px;
    margin-bottom: 5px;
}

.msg-header {
    display: flex;
    padding: 10px 10px 5px 13px;
}

.msg-hr {
    margin: 20px 30px;
}

.msg-hr-date {
    position: relative;
    float: right;
    right: 38%;
    top: -33px;
    background-color: white;
    font-size: 12pt;
    padding: 0px 15px;
}

.msg-form-group {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}

.msg-btn-text {
    display: inline-block;
    font-size: 10pt;
}

.msg-btn-text-str {
    margin: 0;
    padding: 0;
}

.btn-msg {
    margin: 0px;
    padding: 0px;
}

.btn-msg > .btn-group-element {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

.btn-msg > .btn-group-element:hover {
    background-color: white;
    color: #578cac;
}

.msg-btn-img {
    vertical-align: top;
    padding: 10px;
}

.find-icon {
    width: 12pt;
}

.form-control {
    border-radius: 10px;
}

.input-group-text.dark,
.form-control.dark {
    padding: 0px 10px;
    border-width: 0px;
    background-color: #2c2f39;
}

.form-control.dark:focus {
    box-shadow: none;
    color: white;
}

.form-control:focus {
    box-shadow: none;
}

.chat-preview{
    overflow: scroll;
    height: 300px;
}

.msg-preview-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.msg-preview-footer-gochat{
    align-self: center;
    font-size: 11pt;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #528eaa;
}

#search {
    margin-bottom: 0px;
}

.dropdown-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.element-article {
    border-width: 0px 0px;
    padding: 0px;
    height: 150px;
}

.no-shift{
    margin: 0px;
}

.search-extended{
    padding: 15px 20px;
    height: 60px;
    background-color: #14171f;
    display: flex;
    margin-top: 10px;
    border-radius: 10px 10px 0px 10px;
    justify-content: space-between;
}

.search-extended-input{
    width: 380px;
}

.search-extended-form{
    border-radius: 5px;
}

.search-extended-search{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 30px;
    border: 0px;
    background-color: #528eaa;
    color: white;
    font-size: 11pt;
    font-weight: 300;
}

.dropdown-name{
    margin: 5px 10px;
    font-size: 12pt;
    font-weight: 400;
}

.dropdown{
    margin: 10px 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.btn-dropdown{
    display: flex;
    justify-content: space-between;
    background-color: #14171f;
    border: 0px;
    flex-grow: 1;
    border-radius: 5px;
    font-size: 10pt;
}

.btn-dropdown-icon{
    align-self: center;
}

.list-group-item.element-article:hover {
    border-width: 0px 0px;
}

.element-article:hover {
    border-width: 0px 0px;
}

.element-article-picture {
    object-fit: cover;
}

.element-article-title {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
}

.list-group-item-counter {
    font-weight: 300;
    font-size: 10pt;
}

.switcher {
    font-weight: 300;
}

.switcher > .btn {
    padding: 3px 10px;
}

.switcher > button[aria-expanded="true"] {
    background-color: #578cac;
    color: white;
}

.btn:focus {
    box-shadow: none;
}

.switcher > button[aria-expanded="false"] {
    color: black;
}

.switcher-search {
    border: none;
    background-color: white;
}

.input-group-text,
.input-group-append,
.input-group {
    border-radius: 10px;
}

.input-group.search {
    border-radius: 2px;
    height: 30px;
}

#layout {
    max-width: 1240px;
}

.no-gutters {
    padding: 0px 5px;
}

.article-picture {
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
}

.article-picture:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
}

.nav-link {
    font-size: 15px;
    color: #b1b1b1;
}

.navbar-icon {
    margin: 10px;
    font-size: 20px;
    color: #b1b1b1
}

.nav-main {
    background-color: #14171f;
    height: 80px;
}

.navbar-search {
    width: 279px;
    height: 30px;
}

.navbar-search-prepend {
    border-radius: 5px;
}

.navbar-search-form {
    border-radius: 5px;
}

.nav-sub {
    height: 40px;
    background-color: #2c2f39;
}

.nav-item.sub {
    border: #14171f solid;
    border-width: 0px 0px 0px 1px;
}

.nav-link-text {
    display: inline-block;
    vertical-align: auto;

}

.nav-user {
    color: white;
    margin-right: 40px;
}

.nav-avatar {
    display: inline-block;
    object-fit: cover;
    border: white 1px solid;
    width: 50px;
    border-radius: 50px;
}

.icon-expand-button-down.small,
.icon-thin_arrow.small {
    font-size: 7px;
}

.list-group-switcher {
    padding: 0px;
}

.btn.btn-group-element-msg,
.btn-group-element-msg[aria-expanded="false"] {
    flex: 1;
    border-width: 0px 0px 1px 0px;
    border-color: #2c2f39;
    background-color: #2c2f39;
    color: white;
}

.btn-group-element-msg[aria-expanded="true"],
.btn-group-element-msg:hover,
.btn-group-element-msg:focus {
    background-color: #14171f;
}

.btn-group-single {
    display: flex;
    margin: 10px 0px;
    padding: 0px;
}

.btn-group-single-btn {
    background-color: #14171f;
    font-size: 11pt;
    color: white;
    border-radius: 10px;
    flex: 1;
    margin: 0px 5px;
}

.btn-group-single-btn:first-child {
    background-color: #528eaa;
    margin-left: 0px;
}

.btn-group-single-btn:last-child {
    margin-right: 0px;
}

.brand-logo {
    margin-left: 20px;
    width: 175px;
}

.support {
    font-size: 12pt;
    color: white;
}

.support:hover {
    font-size: 12pt;
    color: white;
}

.element:hover > .support > .support-icon {
    color: #578cac;
}

.element-company {
    display: flex;
    margin-bottom: 10px;
}

.hr-container {
    margin: 0px;
    margin-top: 25px;
    height: 15px;
}

.feed-hr {
    margin: 0px;
    padding: 0px;
}

.feed-hr-data {
    position: relative;
    left: 30%;
    width: 40%;
    top: -16px;
    color: #d1d1d1;
    text-align: center;
    background-color: #14171f;
    border-radius: 10px;
    font-size: 11pt;
    padding: 5px 15px;
    margin: 0px;
}

.url-option {
    font-size: 11pt;
}

.list-group-item > .text-center {
    justify-content: center;
    margin: auto;
}

.list-group-item.grid {
    display: block;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?c6lx8p');
    src: url('fonts/icomoon.eot?c6lx8p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c6lx8p') format('truetype'),
    url('fonts/icomoon.woff?c6lx8p') format('woff'),
    url('fonts/icomoon.svg?c6lx8p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-attachment:before {
    content: "\e92b";
}

.icon-accept:before {
    content: "\e900";
}

.icon-advanced-search:before {
    content: "\e901";
}

.icon-analytics:before {
    content: "\e902";
}

.icon-article:before {
    content: "\e903";
}

.icon-comments:before {
    content: "\e904";
}

.icon-communities:before {
    content: "\e905";
}

.icon-contacts:before {
    content: "\e906";
}

.icon-edit:before {
    content: "\e907";
}

.icon-expand-button-down:before {
    content: "\e908";
    color: #878787;
}

.icon-expand-button-up:before {
    content: "\e909";
    color: #878787;
}

.icon-facebook-logo:before {
    content: "\e90a";
}

.icon-faq:before {
    content: "\e90b";
}

.icon-feed:before {
    content: "\e90c";
}

.icon-follow:before {
    content: "\e90d";
}

.icon-functions:before {
    content: "\e90e";
}

.icon-info:before {
    content: "\e90f";
}

.icon-legal:before {
    content: "\e910";
}

.icon-library:before {
    content: "\e911";
}

.icon-linkedin-logo:before {
    content: "\e912";
}

.icon-main:before {
    content: "\e913";
}

.icon-message:before {
    content: "\e914";
}

.icon-music:before {
    content: "\e915";
}

.icon-network:before {
    content: "\e916";
}

.icon-news:before {
    content: "\e917";
}

.icon-notif:before {
    content: "\e918";
    color: #528eaa;
}

.icon-notification:before {
    content: "\e919";
}

.icon-openclose:before {
    content: "\e91a";
}

.icon-photo:before {
    content: "\e91b";
}

.icon-plus:before {
    content: "\e91c";
}

.icon-profile:before {
    content: "\e91d";
}

.icon-search:before {
    content: "\e91e";
}

.icon-setting:before {
    content: "\e91f";
}

.icon-star:before {
    content: "\e920";
    color: #578cac;
}

.icon-star2:before {
    content: "\e921";
    color: #578cac;
}

.icon-star3:before {
    content: "\e922";
}

.icon-star4:before {
    content: "\e923";
}

.icon-support:before {
    content: "\e924";
}

.icon-thin_arrow:before {
    content: "\e925";
    color: #878787;
}

.icon-twitter-logo-silhouette:before {
    content: "\e926";
}

.icon-verif:before {
    content: "\e927";
    color: #528eaa;
}

.icon-video:before {
    content: "\e928";
}

.icon-vk-social-network-logo:before {
    content: "\e929";
}

.icon-workspace:before {
    content: "\e92a";
}
